@import "~bootstrap/scss/bootstrap";

body {
  font-family: "Roboto", sans-serif;
}

.landingPageDiv{
  background-color: whitesmoke;
  padding: 50px;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  margin: 10px auto;
  margin-top: 50px;
  box-shadow: 5px 5px 20px #888;
}

.landingPageHeader{
  font-size: 40px;
}

.logoImage{
  margin: 10px;
  width: 180px;
  height: 180px;
}

.authLink{
  color: #41546d;
  opacity: .82;
  margin: 10px;
  font-size: 20px;
}

.authLink:hover{
  text-decoration: none;
  color: #b06675;
}

#team-page {
  height: 100vh; //make the teampage take up the entire height
}

#conversation-view {
  height: 100vh; //make the teampage take up the entire height
  max-height: 100vh;
  overflow-y: scroll;
}

.firstCreateTeamInput {
  width: 100%;
}

.teamCreateBtn,
.btn-secondary {
  background-color: #41546d;
}

.teamCreateBtn:hover,
.btn-secondary:hover {
  background-color: #11161d;
}

.teamCreateBtn:active,
.btn-secondary:active {
  background-color: #41546d !important;
}

.cancelBtn {
  background-color: #b06675 !important;
}

.cancelBtn:hover {
  background-color: #a50525 !important;
}

.teamDropDown {
  padding-top: 15px;
  height: 70px;
  width: 100%;
  background: #fff;
}

.dropdown-item {
  max-width: 150px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.dropdown-toggle{
  max-width: 95px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

h6 {
  font-size: 20px;
  margin: auto 0;
}

.teamListItem {
  padding: 5px;
  margin: 5px;
  background-color: #f8f8f8;
  border-radius: 10px;
  overflow: hidden;
  white-space: nowrap;
}

.activeConvo{
  background-color: #17ffb3;
}

.listName,
.navbar-brand {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.previewText {
  font-size: 12px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.convoView {
  height: 100vh;
  max-height: 100vh;
  overflow-y: auto;
  padding-left: -5px;
}

.sendMessage {
  width: 100%;
}

.form-group {
  width: 100%;
}

.sendInput {
  width: 90% !important;
  float: left;
  border-radius: 20px;
}

.sendBtn {
  margin-left: 10px;
  float: left;
}

.viewConvoJumbo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  text-align: center;
  margin-top: 5%;
  width: 40%;
  height: 50%;
  background-color: #f8f8f8;
  box-shadow: 5px 5px 20px #888;
  border-radius: 10px;
}

.conversation-header {
  height: 80px;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
.conversation-body {
  height: calc(100vh - 140px);
  max-height: calc(100vh - 140px);
  background-color: #f8f8f8;
  overflow-y: scroll;
  width: 100%;
}

.conversation-view-footer {
  position: absolute;
  padding: 15px 0;
  bottom: 0;
  width: 100%;
}

.notifyDot {
  height: 100%;
  padding: 5px;
  margin: 5px;
}

.addBtn {
  padding-top: 7px;
  float: right;
  background-color: transparent;
  border-color: transparent;
}

.stickyHeader {
  float: left;
  font-weight: bold;
  margin: 5px 100px 5px 5px;
}

.bg-light {
  background-color: rgb(255, 255, 255) !important;
  height: 70px;
}

.navbar-brand {
  color: rgba(65, 84, 109, 0.82);
  font-size: 25px;
}

.notifyDot {
  float: left;
}

.formContainer {
  background-color: whitesmoke;
  padding: 50px;
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  margin: 10px auto;
  box-shadow: 5px 5px 20px #888;
}

.formRow {
  width: 300px;
}
.row {
  margin-left: 0px;
  margin-right: 0px;
}

.formInput {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border-color: transparent;
}

.formBtn {
  margin: 10px auto;
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border-color: transparent;
  background-color: #282c34;
  color: white;
}

.messageBubble {
  margin: 20px;
  width: 40%;
  border-radius: 20px;
}

.theirMessage {
  background-color: #fff;
  color: #41546d;
}

.myMessage {
  background-color: rgba(65, 84, 109, 0.82);
}

.message-text {
  font-size: 20px;
}

.message-sender {
  font-size: 15px;
  color: rgba(0, 0, 0, 0.5);
}

.senderName {
  float: right;
}

::-webkit-scrollbar {
  width: 0px; /* remove scrollbar space */
  background: transparent; /* optional: just make scrollbar invisible */
}

.bounce-in-left {
  -webkit-animation: bounce-in-left 1.1s both;
  animation: bounce-in-left 1.1s both;
}

@-webkit-keyframes bounce-in-left {
  0% {
    -webkit-transform: translateX(-600px);
    transform: translateX(-600px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity: 0;
  }
  38% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    opacity: 1;
  }
  55% {
    -webkit-transform: translateX(-68px);
    transform: translateX(-68px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  72% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  81% {
    -webkit-transform: translateX(-28px);
    transform: translateX(-28px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  90% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  95% {
    -webkit-transform: translateX(-8px);
    transform: translateX(-8px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
}
@keyframes bounce-in-left {
  0% {
    -webkit-transform: translateX(-600px);
    transform: translateX(-600px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity: 0;
  }
  38% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    opacity: 1;
  }
  55% {
    -webkit-transform: translateX(-68px);
    transform: translateX(-68px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  72% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  81% {
    -webkit-transform: translateX(-28px);
    transform: translateX(-28px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  90% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  95% {
    -webkit-transform: translateX(-8px);
    transform: translateX(-8px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
}

.bounce-in-right {
  -webkit-animation: bounce-in-right 1.1s both;
  animation: bounce-in-right 1.1s both;
}

@-webkit-keyframes bounce-in-right {
  0% {
    -webkit-transform: translateX(600px);
    transform: translateX(600px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity: 0;
  }
  38% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    opacity: 1;
  }
  55% {
    -webkit-transform: translateX(68px);
    transform: translateX(68px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  72% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  81% {
    -webkit-transform: translateX(32px);
    transform: translateX(32px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  90% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  95% {
    -webkit-transform: translateX(8px);
    transform: translateX(8px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
}
@keyframes bounce-in-right {
  0% {
    -webkit-transform: translateX(600px);
    transform: translateX(600px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity: 0;
  }
  38% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    opacity: 1;
  }
  55% {
    -webkit-transform: translateX(68px);
    transform: translateX(68px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  72% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  81% {
    -webkit-transform: translateX(32px);
    transform: translateX(32px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  90% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  95% {
    -webkit-transform: translateX(8px);
    transform: translateX(8px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
}

.slide-in-bck-center {
  -webkit-animation: slide-in-bck-center 2s cubic-bezier(0.25, 0.46, 0.45, 0.94)
    both;
  animation: slide-in-bck-center 2s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes slide-in-bck-center {
  0% {
    -webkit-transform: translateZ(600px);
    transform: translateZ(600px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    opacity: 1;
  }
}
@keyframes slide-in-bck-center {
  0% {
    -webkit-transform: translateZ(600px);
    transform: translateZ(600px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    opacity: 1;
  }
}

.fade-in {
	-webkit-animation: fade-in 1s ease-in-out both;
	        animation: fade-in 1s ease-in-out both;
}

 @-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media only screen and (max-width: 1150px) {
  .sendInput {
    width: 80% !important;
    float: left;
    border-radius: 20px;
  }

  .messageBubble {
    margin: 10px;
    width: 60%;
    border-radius: 20px;
  }

  .listName {
    font-size: 18px;
  }

  .previewText {
    font-size: 12px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }

  h6 {
    font-size: 20px;
  }

  .navbar-brand {
    font-size: 20px;
  }
}

// @media only screen and (max-width: 600px){
//   .col-4{
//     display: none;
//   }

//   .col-4:hover{
//     display: block;
//   }

//   .col-8{
//     max-width: 100vw;
//     flex: none;
//   }
// }
