@import "~bootstrap/scss/bootstrap";

#team-page {
  height: 100vh; //make the teampage take up the entire height
}

#conversation-view {
  height: 100vh; //make the teampage take up the entire height
  overflow-y: scroll;
}

.conversation-header {
  height: 80px;
}

.conversation-body {
  height: calc(100vh-160px);
  max-height: calc(100vh-160px);
  margin-bottom: 80px;
  overflow: scroll;
}

.conversation-view-footer {
  align-items: center;
  height: 80px;
  position: absolute;
  bottom: 0;
  width: 100%;
}

.notifyDot {
    height: 100%;
    padding: 5px;
    margin: 5px;
}

.addBtn {
    padding: 5px;
    float: right;
    background-color: transparent;
    border-color: transparent;
}

.stickyHeader {
    float: left;
    font-weight: bold;
    margin: 5px 100px 5px 5px;
}

.notifyDot {
    float: left;
}

.formContainer {
    background-color: whitesmoke;
    padding: 50px;
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    margin: 10px auto;
    box-shadow: 5px 5px 20px #888;
}

.formRow {
   width: 300px;
}


.formInput {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border-color: transparent;
}

.formBtn {
    margin: 10px auto;
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border-color: transparent;
    background-color: #282c34;
    color: white;
}
